<div>
  <%= for %{:body => body, :title => title} <- @posts do  %>
  <article class="p-5">
    <h1 class="text-2xl font-bold underline">
    <%= title %>
    </h1>
    <text >
    <%= body %>
    </text>
  </article>
  <% end %>
</div>
