<h1>Edit Post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>

<span class="underline hover:bg-sky-500/50"><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
